@font-face {
  font-family: 'iconic';
  src: url(fontello/fontello.eot?4565491);
  src: url(fontello/fontello.eot?4565491#iefix) format('embedded-opentype'),
       url(fontello/fontello.woff2?4565491) format('woff2'),
       url(fontello/fontello.woff?4565491) format('woff'),
       url(fontello/fontello.ttf?4565491) format('truetype'),
       url(fontello/fontello.svg?4565491#fontello) format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url(fontello/fontello.svg?4565491#fontello) format('svg');
  }
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iconic";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before { content: '\e800'; } /* '' */
.icon-book:before { content: '\e801'; } /* '' */
.icon-th-list:before { content: '\e803'; } /* '' */
.icon-help:before { content: '\e804'; } /* '' */
.icon-box:before { content: '\e805'; } /* '' */
.icon-code:before { content: '\e806'; } /* '' */
.icon-left:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
