* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman';
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(241, 231, 231);
    border: 3px double rgb(221, 203, 203);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(243, 229, 229);
    border: 3px double rgb(201, 179, 179);
}

html {
    scrollbar-color: rgb(201, 179, 179) rgb(241, 231, 231);
    scrollbar-width: 10px;
    background-image: url(images/background3.2.jpg);
}

header {
    color: #ec1c24;
    background-color: #f3ebeb;
    background-image: linear-gradient(to right, #f3ebeb, #faf6f6);
    background-repeat: no-repeat;
    border-bottom: 3px double rgb(224, 208, 208);
    padding-left: 35px;
    padding-top: 12px;
    padding-bottom: 15px;
    box-shadow: 0 3px rgb(90, 87, 87);
}

a {
    color: #ec1c24;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    color: rgb(116, 197, 96);
}

footer a {
    color: rgb(51, 43, 43);
}

footer a:hover {
    color: rgb(138, 94, 94);
}

sup {
    font-size: 15px;
}

footer {
    background-color: #f3ebeb;
    border-top: 3px double rgb(224, 208, 208);
    padding-left: 30px;
    padding-top: 1px;
    color: rgb(51, 43, 43);
    box-shadow: 0 -3px rgb(90, 87, 87);
    text-align: center;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
    margin-left: 19px;
}

em {
    font-size: 20px;
}

.mainarticle {
    background-color: rgb(241, 228, 228);
    padding-left: 20px;
    color: #ec1c24;
    border: 3px double rgb(238, 172, 172);
    margin-top: 12px;
    margin-bottom: 10px;
    cursor: default;
    animation: startupa 1s 1;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 10px;
    margin-left: 10px;
}

.article1 {
    margin-bottom: 10px;
    padding-left: 20px;
    background-color: rgb(243, 238, 233);
    border: 3px double rgb(218, 208, 193);
    color: rgb(87, 80, 71);
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 10px;
    margin-left: 10px;
}

.article2 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-color: rgb(232, 241, 241);
    border: 3px double rgb(174, 198, 199);
    color: rgb(56, 66, 66);
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 10px;
    margin-left: 10px;
}

.article3 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-color: rgb(241, 231, 231);
    border: 3px double rgb(212, 174, 174);
    color: rgb(78, 57, 57);
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 10px;
    margin-left: 10px;
}

.article4 {
    background-color: #f0ece7;
    color: #504539;
    padding-left: 20px;
    border: 3px double #c9b39a;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.vidlink {
    padding-bottom: 4px;
    display: block;
    color: #504539;
    text-decoration: none;
    text-align: left;
}

.vidlink:hover {
    color: black;
    text-decoration: underline;
}

.vidlink:focus {
    color: rgb(116, 197, 96);
}

.article5 {
    background-color: #e6f0f0;
    color: #304646;
    padding-left: 20px;
    border: 3px double #9ac9c9;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.tweetlink {
    padding-bottom: 4px;
    display: block;
    color: #304646;
    text-decoration: none;
    text-align: left;
}

.tweetlink:hover {
    color: black;
    text-decoration: underline;
}

.tweetlink:focus {
    color: rgb(116, 197, 96);
}

.article6 {
    color: rgb(57, 73, 85);
    background-color: rgb(234, 238, 241);
    border: 3px double rgb(175, 203, 226);
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#name1 {
    color: #ec1c24;
}

#logo1 {
    cursor: default;
}

.navbar {
    cursor: default;
}

.footernav {
    cursor: default;
}

@media (prefers-color-scheme: dark) {
    html {
        background-image: url(images/background3.jpg);
        scrollbar-color: rgb(129, 96, 96) rgb(51, 41, 41);
    }

    header {
        background-color: #3b3232;
        background-image: linear-gradient(to right, #3b3232, #1f1d1d);
        border-bottom: 3px double rgb(82, 67, 67);
        box-shadow: 0 3px rgb(41, 37, 37);
    }

    a:focus {
        color: rgb(99, 161, 84);
    }

    .mainarticle {
        background-color: rgb(58, 44, 44);
        border: 3px double rgb(112, 57, 57);
    }

    .article1 {
        color: rgb(226, 218, 207);
        background-color: rgb(48, 44, 39);
        border: 3px double rgb(87, 80, 71);
    }

    .article2 {
        color: rgb(174, 198, 199);
        background-color: rgb(38, 44, 44);
        border: 3px double rgb(56, 66, 66);
    }

    .article3 {
        color: rgb(212, 174, 174);
        background-color: rgb(48, 39, 39);
        border: 3px double rgb(78, 57, 57);
    }

    .article4 {
        background-color: #302c27;
        color: #c9b39a;
        border: 3px double #504539;
    }

    .vidlink {
        color: #c9b39a;
    }

    .vidlink:hover {
        color: white;
    }

    .vidlink:focus {
        color: rgb(99, 161, 84);
    }

    .article5 {
        background-color: #263030;
        color: #9ac9c9;
        border: 3px double #304646;
    }

    .tweetlink {
        color: #9ac9c9;
    }

    .tweetlink:hover {
        color: white;
    }

    .tweetlink:focus {
        color: rgb(99, 161, 84);
    }

    .article6 {
        color: rgb(175, 203, 226);
        background-color: rgb(38, 42, 46);
        border: 3px double rgb(57, 73, 85);
    }

    footer {
        background-color: #3b3232;
        border-top: 3px double rgb(82, 67, 67);
        box-shadow: 0 -3px rgb(41, 37, 37);
        color: rgb(240, 230, 230);
    }

    footer a {
        color: rgb(240, 230, 230);
    }

    footer a:hover {
        color: rgb(167, 123, 123);
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(58, 48, 48);
        border: 3px double rgb(129, 96, 96);
    }

    ::-webkit-scrollbar-track {
        background-color: rgb(51, 41, 41);
        border: 3px double rgb(95, 89, 89);
    }
}