* {
    font-size: 21px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
   
::-webkit-scrollbar-track {
    background-color: #f3f3f3;
}
   
::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
}
   
::-webkit-scrollbar-thumb:hover {
    background-color:#d8d8d8;
}

html {
    scrollbar-color: rgb(216, 216, 216) rgb(243, 243, 243);
    scrollbar-width: 10px;
    scroll-behavior: smooth;
    background-color: #f3f3f3;
    animation: startupa 1s 1;
}

nav {
    border-bottom: 2px solid rgba(231, 231, 231, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1fa;
    position: fixed;
    top: 0;
    padding: 6px;
}

ul {
    list-style: none;
    cursor: default;
}

.list1 {
    display: inline-block;
}

#alink1 {
    margin-left: 26px;
}

#alink4 {
    margin-right: 26px;
}

nav a {
    color: black;
    text-decoration: none;
}

.alink {
    color: rgb(36, 36, 36);
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 2px solid #ec1c2300;
    transition: all 0.1s;
    padding-top: 15px;
    padding-bottom: 11.7px;
    margin-left: 1px;
}

.alink:hover {
    color: rgb(36, 36, 36);
    background-color: #e6e6e6c2;
    border-bottom: 2px solid rgb(36, 36, 36);
}

.alink:focus {
    color: rgb(102, 160, 102);
    border-bottom: 2px solid rgb(102, 160, 102);
}

#logo1 {
    color: #ec1c24;
    text-align: center;
    cursor: default;
    font-size: 30px;
    padding-right: 1.5px;
    animation: txtanimation 2s infinite;
    padding-bottom: 0;
}

#logo2 {
    font-size: 30px;
    display: none;
    padding-bottom: 0;
}

h1 {
    font-size: 30px;
    background-color: #f3f3f3;
    border-bottom: 2px solid rgba(231, 231, 231, 0.5);
    color: black;
    background-repeat: no-repeat;
    margin-top: 50px;
    cursor: default;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: initial;
}

summary {
    display: block;
    color: rgb(36, 36, 36);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    text-decoration: none;
    text-align: left;
    padding-left: 25px;
    padding-bottom: 4px;
    transition: all 0.1s;
    font-size: 25px;
}

summary:hover {
    background-color: #e6e6e6c2;
    border-bottom: 2px solid rgb(36, 36, 36);
}

summary:focus {
    color: rgb(102, 160, 102);
    border-bottom: 2px solid rgb(102, 160, 102);
}

a {
    font-size: 20px;
    color: rgb(36, 36, 36);
    transition: all 0.1s;
}

a:hover {
    color: black;
}

img {
    border-radius: 5px;
    text-align: left;
}

.firstblog {
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-left: 25px;
    margin-right: 20px;
    text-align: left;
    padding-bottom: 3px;
}

div {
    padding-bottom: 12px;
    font-size: 28px;
}

sup {
    font-size: 12px;
    border-radius: 2px;
}

h4 {
    font-size: 27px;
    margin-left: 25px;
    text-align: left;
    padding-bottom: 3px;
    font-weight: initial;
    color: black;
}

#para2 {
    display: inline;
}

span {
    padding-right: 7px;
}

#pfp1 {
    border-radius: 50px;
    display: inline;
    margin-left: 10;
}

footer {
    border-top: 2px solid rgba(231, 231, 231, 0.5);
    background-color: #f1f1f1fa;
    color: rgb(36, 36, 36);
    padding-top: 6px;
    padding-bottom: 12px;
    cursor: default;
}

.links {
    text-shadow: 0 0 0;
    text-decoration: none;
    color: rgb(36, 36, 36);
    border-top: 2px solid #ec1c2300;
    display: inline;
    background-repeat: no-repeat;
    font-size: 19px;
    padding-top: 7px;
    padding-bottom: 13px;
    transition: 0.1s;
    margin-left: 1px;
}

.links:hover {
    color: rgb(36, 36, 36);
    background-color: #e6e6e6c2;
    border-top: 2px solid rgb(36, 36, 36);
}

.links:focus {
    color: rgb(102, 160, 102);
    border-bottom: 2px solid rgb(102, 160, 102);
}

.divlast {
    font-size: 28px;
    padding-bottom: 7px;
    border-bottom: 2px solid rgba(231, 231, 231, 0.5);
    margin-bottom: 5px;
}

strong {
    color: #ec1c24;
    font-size: 29px;
    font-weight: normal;
    animation: txtanimation 2s infinite;
}

p em b {
    font-size: 20px;
}

em {
    font-weight: bold;
    font-size: 20px;
}

@keyframes startupa {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes txtanimation {
    0% {text-shadow: 2px 2px 25px #c9161c;}
    50% {text-shadow: 2px 2px 35px #c9161c;}
    100% {text-shadow: 2px 2px 25px #c9161c;}
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #1f1f1f;
        color: white;
    }

    nav {
        border-bottom: 2px solid rgba(46, 46, 46, 0.5);
        background-color: #222222fa;
    }

    .divlast {
        color: rgb(236, 236, 236);
    }

    summary {
        color: rgb(236, 236, 236);
    }

    summary:hover {
        background-color: #2e2e2ec2;
        border-bottom: 2px solid rgb(236, 236, 236);
    }

    a {
        color: rgb(236, 236, 236);
    }

    a:hover {
        color: white;
    }

    footer {
        border-top: 2px solid rgba(46, 46, 46, 0.5);
        background-color: #222222fa;
        color: rgb(236, 236, 236);
    }

    .links {
        color: rgb(236, 236, 236);
    }

    .links:hover {
        color: rgb(236, 236, 236);
        background-color: #2e2e2ec2;
        border-top: 2px solid rgb(236, 236, 236);
    }

    .divlast {
        border-bottom: 2px solid rgb(46, 46, 46, 0.5);
    }

    .alink {
        color: rgb(236, 236, 236);
    }

    .alink:hover {
        color: rgb(236, 236, 236);
        background-color: #2e2e2ec2;
        border-bottom: 2px solid rgb(236, 236, 236);
    }

    h1 {
        color: white;
        background-color: #1f1f1fde;
        border-bottom: 2px solid rgba(46, 46, 46, 0.5);
    }

    h4 {
        color: white;
    }

    ::-webkit-scrollbar-thumb {
        background-color:#2e2e2e;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color:#383838;
    }

    ::-webkit-scrollbar-track {
        background-color: #1f1f1f;
    }
}

@media (max-width: 506px) {
    #logo1 {
        display: none;
    }

    #logo2 {
        margin-left: 25px;
        display: inline;
        color: #ec1c24;
        animation: txtanimation 2s infinite;
    }

    .alink {
        font-size: 18px;
        padding-top: 16px;
        padding-bottom: 13px;
    }
}

@media (max-width: 366px) {
    .alink {
        font-size: 17px;
    }
}

@media (max-width: 344px) {
    .alink {
        font-size: 16px;
        padding-top: 17px;
        padding-bottom: 13px;
    }

    .links {
        font-size: 16px;
    }
}

@media (max-width: 324px) {
    .alink {
        font-size: 15px;
    }
}

@media (max-width: 310px) {
    .links {
        font-size: 14px;
    }
}

@media (max-width: 304px) {
    .alink {
        font-size: 14px;
    }
}