* {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(54, 45, 45);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(241, 231, 231);
    border: 3px double rgb(221, 203, 203);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, rgb(243, 229, 229), rgb(247, 241, 241));
    background-repeat: no-repeat;
    border: 3px double rgb(201, 179, 179);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 4px 8px 0 rgba(48, 28, 28, 0.26);
    background-image: linear-gradient(to bottom, rgb(235, 219, 219), rgb(238, 226, 226));
}

html {
    scrollbar-color: rgb(201, 179, 179) rgb(241, 231, 231);
    scrollbar-width: 10px;
    background-color: rgb(252, 247, 247);
    background-image: linear-gradient(to right, rgb(243, 237, 237), rgb(252, 247, 247));
    animation: startupa 1s 1;
}

nav {
    border-bottom: 3px double rgba(224, 208, 208, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(241, 232, 232, 0.76);
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(48, 28, 28, 0.26);
    top: 0;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    padding: 13px;
}

ul {
    list-style: none;
    cursor: default;
}

.list1 {
    display: inline-block;
}

#alink4 {
    margin-right: 21px;
}

nav a {
    color: black;
    text-decoration: none;
}

.alink {
    color: #ec1c24;
    background-color: rgba(255, 255, 255, 0.479);
    text-decoration: none;
    padding: 1px;
    font-size: 18px;
    border: 4px double rgb(238, 172, 172);
    cursor: pointer;
    transition: all 0.2s;
}

.alink:hover {
    border: 4px double #c49091;
    box-shadow: 0 4px 8px 0 rgba(48, 28, 28, 0.26);
    background-image: linear-gradient(to right, rgb(233, 217, 217), rgb(245, 238, 238));
    background-repeat: no-repeat;
    color: rgb(51, 43, 43);
}

.alink:focus {
    border: 4px double rgb(146, 194, 146);
    color: rgb(54, 99, 54);
    background-image: linear-gradient(to right, rgb(183, 211, 176), rgb(222, 235, 221));
    background-repeat: no-repeat;
}

#alink1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#alink4 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#logo1 {
    margin-left: 25px;
    font-size: 30px;
    color: #ec1c24;
    cursor: default;
}

#logo2 {
    font-size: 30px;
    display: none;
}

h1 {
    margin-top: 80px;
    margin-bottom: 10px;
    padding-left: 24px;
    font-size: 30px;
}

summary {
    font-size: 25px;
    padding-left: 14px;
    margin: 0 10px;
    border-left: 2px solid rgb(197, 176, 176);
    transition: all 0.2s;
}

summary:hover {
    background-image: linear-gradient(to right, rgb(233, 219, 219), rgb(240, 231, 231));
    color: rgb(51, 43, 43);
    text-decoration: underline;
    border-left: 2px solid rgb(233, 219, 219);
    border-radius: 3px;
    margin: 0 15px;
}

summary:focus {
    border-radius: 3px;
    margin: 0 15px;
    color: rgb(54, 99, 54);
    background-image: linear-gradient(to right, rgb(183, 211, 176), rgb(222, 235, 221));
    border-left: 2px solid rgb(183, 211, 176);
}

img {
    border-radius: 5px;
    margin-left: 25px;
}

.firstblog {
    margin-bottom: 15px;
}

p {
    font-size: 20px;
    margin-left: 25px;
    margin-right: 20px;
}

div {
    padding-bottom: 12px;
    font-size: 28px;
}

#div2 {
    border-bottom: 2px solid rgb(197, 176, 176);
    border-radius: 50px;
    margin-bottom: 1px;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 0;
}

sup {
    background-image: linear-gradient(to right, rgb(241, 233, 233), rgb(252, 247, 247));
    font-size: 12px;
    border-radius: 2px;
}

h4 {
    font-size: 27px;
    margin-left: 25px;
}

#para2 {
    display: inline;
    border-radius: 2px;
}

#pfp1 {
    border-radius: 50px;
    display: inline;
    margin-left: 10;
}

footer {
    text-align: center;
    border-top: 3px double rgba(224, 208, 208, 0.5);
    color: rgb(51, 43, 43);
    background-color: rgb(247, 238, 238);
    background-image: url(images/background3.2.jpg);
    box-shadow: 0 -4px 8px 0 rgba(48, 28, 28, 0.26);
    padding: 20px 0;
    font-size: 27px;
    text-shadow: 2px 2px 40px #1d1d1d;
    padding-top: 10px;
    padding-bottom: 10px;
}

#linkfirst {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 0;
}

#linklast {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.links {
    text-shadow: 0 0 0;
    text-decoration: none;
    color: #ec1c24;
    display: block;
    border: 4px double rgb(238, 172, 172);
    background-color: rgba(241, 232, 232, 0.76);
    background-repeat: no-repeat;
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 27px;
    transition: 0.2s;
}

.links:hover {
    color: rgb(51, 43, 43);
    background-image: linear-gradient(to right, rgb(233, 217, 217), rgb(245, 238, 238));
    border: 4px double #c49091;
    box-shadow: 0 4px 8px 0 rgba(48, 28, 28, 0.26);
}

.links:focus {
    border: 4px double rgb(146, 194, 146);
    background-color: rgb(116, 197, 96);
    color: rgb(54, 99, 54);
    background-image: linear-gradient(to right, rgb(183, 211, 176), rgb(222, 235, 221));
    background-repeat: no-repeat;
}

.divlast {
    color: rgb(51, 43, 43);
    padding-bottom: 15px;
}

strong {
    color: #ec1c24;
    font-size: 29px;
}

p em b {
    font-size: 20px;
}

em {
    font-weight: bold;
}

@keyframes bganimation {
    0% {background-color: #f8f8f8;}
    20% {background-color: rgb(248, 241, 241);}
    50% {background-color: rgb(243, 235, 235);}
    75% {background-color: rgb(248, 244, 244);}
    100% {background-color: #f8f8f8;}
}

@keyframes bganimationalt {
    0% {background-color: #1d1d1d;}
    20% {background-color: rgb(39, 34, 34);}
    50% {background-color: rgb(56, 47, 47);}
    75% {background-color: rgb(36, 34, 34);}
    100% {background-color: #1d1d1d;}
}

@keyframes startupa {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media (prefers-color-scheme: dark) {
    * {
        color: rgb(231, 219, 219);
    }

    nav {
        border-bottom: 3px double rgba(82, 67, 67, 0.5);
        background-color: rgba(49, 41, 41, 0.76);
        box-shadow: 0 4px 8px 0 rgba(158, 101, 101, 0.26);
    }

    #div2 {
        border-bottom: 2px solid rgb(88, 68, 68);
        border-radius: 50px;
    }

    html {
        scrollbar-color: rgb(129, 96, 96) rgb(51, 41, 41);
        background-color: rgb(29, 27, 27);
        background-image: linear-gradient(to right, rgb(41, 35, 35), rgb(29, 27, 27));
    }

    sup {
        background-image: linear-gradient(to right, rgb(48, 39, 39), rgb(29, 27, 27));
    }

    summary {
        border-left: 2px solid rgb(100, 81, 81);
    }

    summary:hover {
        background-image: linear-gradient(to right, rgb(59, 50, 50), rgb(43, 37, 37));
        color: rgb(238, 226, 226);
        border-left: 2px solid rgb(59, 50, 50);
    }

    summary:focus {
        color: rgb(160, 212, 160);
        background-image: linear-gradient(to right, rgb(67, 87, 61), rgb(39, 46, 38));
        border-left: 2px solid rgb(67, 87, 61);
    }

    .divlast {
        color: rgb(238, 226, 226);
    }

    #div2 {
        border-bottom: 2px solid rgb(100, 81, 81);
    }

    .links {
        color: #ec1c24;
        background-color: rgba(49, 41, 41, 0.76);
        border: 4px double rgb(112, 57, 57);
    }

    .links:hover {
        border: 4px double #584141;
        box-shadow: 0 4px 8px 0 rgba(158, 101, 101, 0.26);
        background-image: linear-gradient(to right, rgb(66, 49, 49), rgb(46, 38, 38));
        color: rgb(238, 226, 226);
    }

    .links:focus {
        color: rgb(160, 212, 160);
        border: 4px double rgb(89, 112, 84);
        background-image: linear-gradient(to right, rgb(67, 87, 61), rgb(39, 46, 38));
    }

    footer {
        border-top: 3px double rgba(82, 67, 67, 0.5);
        color: rgb(238, 226, 226);
        background-color: rgb(43, 36, 36);
        background-image: url(images/background3.jpg);
        box-shadow: 0 -4px 8px 0 rgba(158, 101, 101, 0.26);
    }

    .alink {
        border: 4px double rgb(112, 57, 57);
        background-color: rgba(43, 36, 36, 0.479);
    }

    .alink:hover {
        border: 4px double #584141;
        box-shadow: 0 4px 8px 0 rgba(158, 101, 101, 0.26);
        background-image: linear-gradient(to right, rgb(66, 49, 49), rgb(46, 38, 38));
        color: rgb(238, 226, 226);
    }

    .alink:focus {
        color: rgb(160, 212, 160);
        border: 4px double rgb(89, 112, 84);
        background-image: linear-gradient(to right, rgb(67, 87, 61), rgb(39, 46, 38));
    }

    ::-webkit-scrollbar-thumb {
        background-image: linear-gradient(to bottom, rgb(58, 48, 48), rgb(39, 35, 35));
        border: 3px double rgb(129, 96, 96);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-image: linear-gradient(to bottom, rgb(80, 59, 59), rgb(59, 49, 49));
        box-shadow: 0 4px 8px 0 rgba(158, 101, 101, 0.26);
    }

    ::-webkit-scrollbar-track {
        background-color: rgb(51, 41, 41);
        border: 3px double rgb(95, 89, 89);
        border-radius: 3px;
    }
}

@media (max-width: 506px) {
    #logo1 {
        display: none;
    }

    #logo2 {
        margin-left: 25px;
        display: inline;
        color: #ec1c24;
    }

    .alink {
        font-size: 17px;
    }
}

@media (max-width: 366px) {
    .alink {
        font-size: 15px;
    }
}

@media (max-width: 344px) {
    .alink {
        font-size: 13px;
    }
}

@media (max-width: 324px) {
    .alink {
        font-size: 11px;
    }
}

@media (max-width: 304px) {
    .alink {
        font-size: 9px;
    }
}