* {
    font-size: 21px;
    text-align: center;
    font-family: SegoeUI;
    src: url(font/SegoeUI.ttf);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.2s;
}

@font-face {
    font-family: SegoeUI;
    src: url(font/SegoeUI.ttf);
}

::-webkit-scrollbar {
    width: 13px;
}
   
::-webkit-scrollbar-track {
    background-color: rgb(235, 248, 238);
    border: 2px solid rgba(220, 231, 218, 0.5);
}

::-webkit-scrollbar-track:hover {
    background-color: rgb(231, 244, 234);
}
   
::-webkit-scrollbar-thumb {
    background-color: rgb(245, 255, 242);
    border-radius: 8px;
    border: 2px solid rgba(220, 231, 218, 0.5);
}
   
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(231, 241, 227);
    box-shadow: 0 1px 8px 0 rgba(140, 210, 156, 0.26);
}

/* Main code */

html {
    scrollbar-width: 10px;
    scroll-behavior: smooth;
    background-color: #f3fdf5;
    background-image: url(images/background.jpg);
    scrollbar-color: rgb(245, 255, 242) rgb(235, 248, 238);
}

nav {
    border: 2px solid rgba(220, 231, 218, 0.5);
    width: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #effaf1de;
    box-shadow: 0 1px 8px 0 rgba(140, 210, 156, 0.26);
    position: fixed;
    top: 5px;
    left: 5px;
    padding: 4px;
    padding-top: 5px;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    animation: startupaheader 1s 1;
}

ul {
    list-style: none;
    cursor: default;
}

.list1 {
    display: inline-block;
}

#alink1 {
    margin-left: 6px;
    animation: startupaicon1 1s 1;
}

#alink4 {
    margin-right: 6px;
    animation: startupaicon2 1s 1;
}

nav a {
    text-decoration: none;
}

a {
    border-radius: 20px;
    color: #4e7056ce;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid rgba(18, 18, 18, 0);
    background-color: #d9e9d560;
    border: 2px solid #cee4c88c;
    padding-left: 3px;
    padding-right: 3px;
    animation: startupa 1s 1;
}

a:hover {
    background-color: #bcd3b660;
    border: 2px solid #ccd8ba9b;
    padding-left: 7px;
    padding-right: 7px;
    color: #475b45ce;
}

a:focus {
    background-color: #c6dfc3c2;
    border: 2px solid #aac4aac2;
}

.alink {
    padding: 3.5px;
    padding-left: 5px;
    padding-right: 5px;
}

.alink:hover {
    padding-left: 9px;
    padding-right: 11px;
}

.visited {
    border: 2px solid #cee4c894;
}

.alink .hiddentxt {
    display: none;
}

.alink:hover .hiddentxt {
    display: inline;
    animation: startupatxt 0.5s 1;
}

.alink:focus .hiddentxt {
    display: inline;
    animation: startupatxt 0.5s 1;
    padding-right: 2px;
}

#logo {
    animation: startupalogo 1s 1;
}

footer {
    text-align: center;
    border: 2px solid rgba(220, 231, 218, 0.5);
    box-shadow: 0 1px 8px 0 rgba(140, 210, 156, 0.26);
    color: #4e7056ce;
    background-color: #effaf1de;
    animation: startupa 1s 1;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 14px;
    margin: 5px;
    margin-bottom: 10px;
    cursor: default;
    border-radius: 30px;
}

.links {
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: underline;
    margin-left: -2px;
}

.links:hover {
    padding-left: 10px;
    padding-right: 10px;
}

#link2, #link3 {
    display: flexbox;
}

#footercopyright {
    text-align: center;
    display: block;
    margin-top: 10px;
}

#footerlogo {
    margin-bottom: 5px;
}

footer p {
    display: inline;
}

.welcometxt {
    margin-top: 80px;
    font-size: 100px;
    color: #2aab47;
    text-align: left;
    margin-left: 25px;
    font-weight: initial;
    margin-bottom: 15px;
    animation: startupawelcome 1s 1;
}

article {
    background-image: linear-gradient(to right, rgb(235, 248, 238), rgb(245, 255, 242));
    box-shadow: 0 1px 8px 0 rgba(140, 210, 156, 0.26);
    color: #4e7056ce;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border: 2px solid rgba(220, 231, 218, 0.5);
    border-radius: 30px;
    animation: startupaartic 1s 1;
    animation: startupa 1s 1;
}

.mainarticle {
    background-image: linear-gradient(to right, rgb(235, 248, 238), rgb(245, 255, 242));
    cursor: default;
    padding-bottom: 11px;
    padding-top: 8px;
    animation: startupaarticles 1s 1;
    margin-bottom: 10px;
}

.ellink {
    margin-left: -3px;
}

.paraellink {
    text-align: center;
    font-size: 25px;
}

#h2options {
    padding-left: 1px;
}

#lastpara1 {
    margin-bottom: 7px;
    /* margin-left: -8px; */
}

.article1 {
    width: 25%;
    height: initial;
    animation: startupaprojects 1s 1;
}

.article2 {
    width: 74%;
    height: initial;
}

#fip, #sep, #thp, #fop, #fip, #sip {
    font-size: 23px;
    text-align: left;
    padding-left: 15px;
    margin-left: 10px;
    margin-right: 10px;
} 

.articlelink {
    display: inline-block;
    text-decoration: none;
    text-align: left;
    margin: 0 1px;
    font-size: 23px;
    margin-bottom: 4px;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
}

.articlelink:hover {
    padding-left: 0;
    padding-right: 0;
}

.article1 .articlelink, .article4 .articlelink, .article5 .articlelink {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

#floater {
    display: flex;
    flex-direction: row;
}

.article4 {
    width: 50%;
    height: initial;
}

.article5 {
    width: 49%;
    height: initial;
}

.mainlinktxt {
    background-color: #eefbeede;
    border-top-left-radius: 18.5px;
    border-top-right-radius: 18.5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 4px;
    border-bottom: 2px solid #cee4c88c;
    margin-bottom: -3px;
}

.linktxtlast {
    background-color: #eefbeede;
    border-radius: 50px;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
}

.articlelink:hover .mainlinktxt {
    background-color: #e0f5e0de;
    border-bottom: 2px solid #ccd8ba9b;
    padding-left: 20px;
}

.articlelink:hover .linktxtlast {
    background-color: #e0f5e0de;
    padding-left: 20px;
}

.articlelink:focus .mainlinktxt {
    background-color: #d7ecd7de;
    border-bottom: 2px solid #aac4aac2;
}

.articlelink:focus .linktxtlast {
    background-color: #d7ecd7de;
}

.smalltxt {
    font-size: 12px;
    padding: 8px;
    padding-left: 15px;
    font-weight: bold;
}

.articlelink:hover .smalltxt {
    padding-left: 20px;
}

.article3 > .articlelink {
    margin-left: -1px;
    width: 45%;
}

#latestmargin {
    margin-bottom: 13px;
}

.article6 {
    margin-bottom: 15px;
}

#title1 {
    margin-top: 4px;
}

#modtxt {
    margin-bottom: 4px;
}

h2 {
    background-image: linear-gradient(to right, rgb(245, 255, 242), rgb(232, 247, 235));
    margin: 5px;
    margin-bottom: 7px;
    margin-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: center;
    font-size: 26px;
    font-weight: initial;
    color: #4e6d4ece;
    border: 2px solid rgba(220, 231, 218, 0.5);
    border-left: 2px solid rgba(220, 231, 218, 0.5);
    border-right: 2px solid rgba(220, 231, 218, 0.5);
    box-shadow: 0 1px 8px 0 rgba(140, 210, 156, 0.26);
    border-radius: 30px;
}

#mainqnatxt {
    margin-bottom: 13px;
}

sup {
    font-size: 12px;
    animation: startupa 1s 1;
}

p {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    color: #4e7056ce;
}

h2, p {
    animation: startupa 1s 1;
}

#btxt {
    font-weight: initial;
    color: #4e6d4ece;
}

@keyframes startupa {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes startupaheader {
    0% {opacity: 0; margin-top: -10px;}
    100% {opacity: 1; margin-top: 0;}
}

@keyframes startupaarticles {
    0% {opacity: 0; margin-top: 60px; margin-bottom: 65px;}
    100% {opacity: 1; margin-top: 0; margin-bottom: 10px;}
}

@keyframes startupaposts {
    0% {opacity: 0; margin-top: 65px; padding-top: 50px;}
    100% {opacity: 1; margin-top: 10px; padding-top: 15px;}
}

@keyframes startupaicon1 {
    0% {opacity: 0; margin-left: 20px;}
    100% {opacity: 1; margin-left: 6px;}
} 

@keyframes startupaicon2 {
    0% {opacity: 0; margin-right: 20px}
    100% {opacity: 1; margin-right: 6px;}
}

@keyframes startupalogo {
    0% {opacity: 0; margin-top: -20px}
    100% {opacity: 1; margin-top: 0;}
}

@keyframes startupatxt {
    0% {opacity: 0; margin-left: -30px}
    100% {opacity: 1; margin-left: 0;}
}

@keyframes startupatxtend {
    0% {opacity: 1; margin-left: 0;}
    100% {opacity: 0; margin-left: -30px;}
}

@keyframes startupawelcome {
    0% {opacity: 0; margin-left: -25px;}
    100% {opacity: 1; margin-left: 25px;}
}

@keyframes startupaprojects {
    0% {opacity: 0; margin-left: -40px; margin-right: 35px; margin-top: -55px;}
    100% {opacity: 1; margin-left: 5px;}
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #14241a;
        background-image: url(images/background3.jpg);
        scrollbar-color: rgb(22, 41, 29) rgb(26, 35, 26);
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(22, 41, 29);
        border: 2px solid rgba(46, 46, 46, 0.5);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgb(27, 49, 35);
        box-shadow: 0 1px 8px 0 rgba(8, 82, 24, 0.26);
    }

    ::-webkit-scrollbar-track {
        background-color: rgb(26, 35, 26);
        border: 2px solid rgba(46, 46, 46, 0.5);
    }

    ::-webkit-scrollbar-track:hover {
        background-color: rgb(29, 38, 29);
    }

    nav {
        border: 2px solid rgba(43, 46, 43, 0.5);
        background-color: #16291dde;
        box-shadow: 0 1px 8px 0 rgba(8, 82, 24, 0.26);
    }

    h2 {
        background-image: linear-gradient(to right, rgb(26, 35, 26), rgb(22, 41, 29));
        color: #dff8dcce;
        border: 2px solid rgba(44, 48, 44, 0.5);
        box-shadow: 0 1px 8px 0 rgba(8, 82, 24, 0.26);
    }

    #btxt {
        color: #dff8dcce;
    }

    article {
        background-color: #171e15de;
        background-image: linear-gradient(to right, rgb(22, 41, 29), rgb(26, 35, 26));
        box-shadow: 0 1px 8px 0 rgba(8, 82, 24, 0.26);
        color: #d2e9d7ce;
        border: 2px solid rgba(44, 48, 44, 0.5);
    }

    .mainarticle {
        background-color: #1e281cde;
        background-image: linear-gradient(to right, rgb(22, 41, 29), rgb(26, 35, 26));
    }

    footer {
        border: 2px solid rgba(43, 46, 43, 0.5);
        background-color: #16291dde;
        box-shadow: 0 1px 8px 0 rgba(8, 82, 24, 0.26);
    }

    a {
        color: #d2e9d7ce;
        background-color: #29352960;
        border: 2px solid #343f338c;
    }

    a:hover {
        background-color: #2d3c2dc2;
        border: 2px solid #444a449b;
        color: #e4f6e5c2;
    }

    a:focus {
        background-color: #40513ec2;
        border: 2px solid #476347c2;
    }

    .articlelink:hover p {
        color: #b8d3bac2;
    }

    .visited {
        border: 2px solid #343f3394;
    }

    .mainlinktxt {
        background-color: #17271cde;
        border-bottom: 2px solid #343f338c;
    }

    .articlelink:hover .mainlinktxt {
        background-color: #1e3325de;
        border-bottom: 2px solid #444a44c2;
    }

    .articlelink:focus .mainlinktxt {
        background-color: #344834de;
        border-bottom: 2px solid #476347c2;
    }

    .linktxtlast {
        background-color: #17271cde;
    }

    .articlelink:hover .linktxtlast {
        background-color: #1e3325de;
    }

    .articlelink:focus .linktxtlast {
        background-color: #344834de;
    }
}

@media (max-width: 950px) {
    .article1 {
        width: 30%;
    }

    .article2 {
        width: 69%;
    }
}

@media (max-width: 743px) {
    #floater {
        display: block;
    }

    #floater .article1, #floater .article2 {
        display: flexbox;
    }

    .article1, .article2 {
        width: inherit;
        height: initial;
    }

    .article1 {
        animation: startupa 1s 1;
    }
    
    .article4, .article5 {
        width: inherit;
        height: initial;
    }
}

@media (max-width: 575px) {
    .links {
        display: inline-block;
    }

    footer {
        padding-top: 10px;
    }
}

@media (max-width: 506px) {
    .welcometxt {
        font-size: 70px;
    }
}

@media (max-width: 418px) {
    #linklast {
        margin-top: 4px;
    }
}

@media (max-width: 417px) {
    .welcometxt {
        font-size: 50px;
    }
}

/* kartracing.html and uwpapps.html */

@keyframes startupamaintxt {
    0% {opacity: 0; margin-top: 0; margin-bottom: 50px;}
    100% {opacity: 1; margin-top: 75px; margin-bottom: 7px;}
}

@keyframes startupafooter {
    0% {opacity: 0; margin-bottom: -40px;}
    100% {opacity: 1; margin-bottom: 10px;}
}

#maintxt {
    color: #4e7056ce;
    background-image: linear-gradient(to right, rgb(245, 255, 242), rgb(232, 247, 235));
    border: 2px solid rgba(220, 231, 218, 0.5);
    border-radius: 30px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 15px;
    box-shadow: 0 1px 8px 0 rgba(140, 210, 156, 0.26);
    animation: startupaarticles 1s 1;
    margin-bottom: 10px;
}

.maintxtpage {
    background-color: #f3fdf5;
    background-image: linear-gradient(to right, rgb(245, 255, 242), rgb(232, 247, 235));
    margin: 5px;
    margin-bottom: 7px;
    margin-top: 75px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: center;
    font-size: 26px;
    font-weight: initial;
    color: #4e7056ce;
    border: 2px solid rgba(220, 231, 218, 0.5);
    box-shadow: 0 1px 8px 0 rgba(140, 210, 156, 0.26);
    border-radius: 30px;
    animation: startupamaintxt 1s 1;
}

#pagesfooter {
    width: calc(100% - 10px);
    position: fixed;
    bottom: 0;
    padding-top: 20px;
    animation: startupafooter 1s 1;
}

#backbtn {
    padding: 5px;
    margin-bottom: 10px;
}

#backbtn:hover {
    padding-left: 10px;
    padding-right: 10px;
}

/* 404.html code */

#maintxt404 {
    font-size: 50px;
}

#atxt {
    background-color: #edf8e9de;
    background-image: linear-gradient(to right, rgb(245, 255, 242), rgb(232, 247, 235));
    box-shadow: 0 1px 8px 0 rgba(140, 210, 156, 0.26);
    color: #4e7056ce;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 2px solid rgba(220, 231, 218, 0.5);
    border-radius: 30px;
    animation: startupaarticles 1s 1;
}

#atxt2 {
    color: #4e7056ce;
    margin-top: 15px;
}

#alinkback {
    font-size: 23px;
}

/* posts.html codes */

.pagesbackground {
    background-image: linear-gradient(to right, rgb(235, 248, 238), rgb(245, 255, 242));
}

.postbg {
    padding: 15px;
    padding-left: 20px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #eefbeede;
    border: 2px solid rgba(220, 231, 218, 0.5);
    box-shadow: 0 1px 8px 0 rgba(140, 210, 156, 0.26);
    animation: startupaposts 1s 1;
}

.postbg > p {
    padding-left: 0;
}

details summary::-webkit-details-marker {
    display:none;
}

summary {
    border-radius: 20px;
    display: block;
    color: #4e7056ce;
    border: 2px solid #cee4c88c;
    text-decoration: none;
    text-align: left;
    margin-right: 10px; 
    margin-left: 10px;
    margin-bottom: 4px;
    animation: startupa 1s 1;
}

summary:hover {
    border: 2px solid #ccd8ba9b;
}

summary > .smalltxt {
    background-color: #d9e9d550;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-top: 3px;
    padding-top: 5px;
}

summary:hover .mainlinktxt {
    background-color: #e0f5e0de;
    border-bottom: 2px solid #ccd8ba86;
    padding-left: 20px;
}

summary:hover .smalltxt {
    background-color: #c0d6ba50;
    padding-left: 20px;
}

summary:focus {
    background-color: #c6dfc3c2;
    border: 2px solid #aac4aac2;
}

summary:focus > .mainlinktxt {
    background-color: #d7ecd7de;
    border-bottom: 2px solid #aac4aac2;
}

img {
    border-radius: 15px;
    text-align: left;
}

#lastpost {
    margin-top: 13px;
}

h4 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
    padding-bottom: 3px;
    font-weight: initial;
    color: #4e6d4ece;
    border-radius: 5px 5px 0 0;
    animation: startupa 1s 1;
}

#para2 {
    display: inline;
}

#pfp1 {
    border-radius: 50px;
    display: inline;
    margin-left: 10;
}

em {
    font-weight: bold;
    color: #4e6d4ece;
    font-size: 21px;
}

del {
    color: #4e6d4ece;
}

#postsfooter {
    margin-top: 13px;
}

@media (prefers-color-scheme: dark) {
    #atxt, .maintxtpage {
        background-image: linear-gradient(to right, rgb(26, 35, 26), rgb(22, 41, 29));
        color: #dff8dcce;
        border: 2px solid rgba(46, 46, 46, 0.5);
        box-shadow: 0 1px 8px 0 rgba(8, 82, 24, 0.26);
    }

    #maintxt {
        background-image: linear-gradient(to right, rgb(26, 35, 26), rgb(22, 41, 29));
        border: 2px solid rgba(46, 46, 46, 0.5);
        color: #d2e9d7ce;
        box-shadow: 0 1px 8px 0 rgba(8, 82, 24, 0.26);
    }

    #atxt2 {
        color: #d2e9d7ce;
    }

    .pagesbackground {
        background-color: #171e15;
        background-image: linear-gradient(to right, rgb(22, 41, 29), rgb(26, 35, 26));
    }

    .postbg {
        background-color: #17271cde;
        border: 2px solid rgba(44, 48, 44, 0.5);
        box-shadow: 0 1px 8px 0 rgba(8, 82, 24, 0.26);
    }

    p {
        color: #d2e9d7ce;
    }

    h4, em, del {
        color: #dff8dcce;
    }

    summary {
        color: #d2e9d7ce;
        background-color: #29352960;
        border: 2px solid #343f33a2;
    }

    summary:hover {
        background-color: #2d3c2dc2;
        border: 2px solid #444a44b1;
        color: #d9ebdac2;
    }

    summary:focus {
        background-color: #40513ec2;
        border: 2px solid #476347;
    }

    summary > .mainlinktxt {
        border-bottom: 2px solid #343f33a2;
    }

    summary:hover > .mainlinktxt {
        background-color: #1e3325de;
        border-bottom: 2px solid #444a44b1;
    }

    summary:focus > .mainlinktxt {
        background-color: #3c533cde;
        border-bottom: 2px solid #476347;
    }

    summary > .smalltxt {
        background-color: #29352911;
    }

    summary:hover > .smalltxt {
        background-color: #2f3b2f25;
    }

    summary:focus > .smalltxt {
        background-color: #40513ec2;
    }
}

/* development history.html codes */

table {
    background-image: linear-gradient(to right, rgb(245, 255, 242), rgb(232, 247, 235));
    margin-bottom: 10px;
    margin-top: 11px;
    width: 100%;
    animation: startupa 1s 1;
    box-shadow: 0 1px 8px 0 rgba(140, 210, 156, 0.26);
}

caption {
    padding: 5px;
    color: #4e6d4ece;
    background-color: #edf8e9de;
    background-image: linear-gradient(to right, rgb(245, 255, 242), rgb(232, 247, 235));
    border-top: 2px solid rgba(220, 231, 218, 0.5);
    animation: startupa 1s 1;
}

th, tr, td {
    border: 2px solid rgba(220, 231, 218, 0.5);
    color: #4e7056ce;
    padding: 5px;
}

td {
    background-color: #eefbeede;
}

td > a {
    padding-right: 4px;
    padding-left: 4px;
}

title {
    margin-right: 3px;
}

td > a {
    text-decoration: underline;
}

#article1old {
    margin: 10px;
    margin-top: 15px;
}

#article3old {
    margin: 10px;
}

#article3old > ol {
    margin-left: 40px;
}

#articlearc {
    margin: 10px;
    margin-bottom: 5px;
}

@media (prefers-color-scheme: dark) {
    table {
        background-image: linear-gradient(to right, rgb(26, 35, 26), rgb(22, 41, 29));
        color: #d2e9d7ce;
        box-shadow: 0 1px 8px 0 rgba(8, 82, 24, 0.26);
    }

    th, tr, td {
        border: 2px solid rgba(43, 46, 43, 0.5);
        color: #d2e9d7ce;
    }

    td {
        background-color: #17271cde;
    }

    th {
        border-bottom: 2px solid rgba(43, 46, 43, 0.5);
    }

    caption {
        color: #dff8dcce;
        background-color: #1e281cde;
        background-image: linear-gradient(to right, rgb(26, 35, 26), rgb(22, 41, 29));
        border-top: 2px solid rgba(43, 46, 43, 0.5);
    }
}