* {
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
   }
   
  ::-webkit-scrollbar-track {
    background-color: rgb(238, 226, 226);
    border: 3px double rgb(211, 191, 191);
    border-radius: 3px;
    }
   
  ::-webkit-scrollbar-thumb {
    background-color: rgb(255, 179, 179);
    background-image: linear-gradient(to bottom, rgb(255, 179, 179), rgb(255, 227, 227));
    background-repeat: no-repeat;
    border: 3px double rgb(201, 140, 140);
    border-radius: 3px;
  }
   
  ::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to bottom, rgb(221, 159, 159), rgb(218, 192, 192));
    }

html {
    scrollbar-color: rgb(245, 235, 235) rgb(221, 200, 200);
    scrollbar-width: 10px;
    scroll-behavior: smooth;
    background-color: #f8f8f8;
}

nav {
    margin: 8px 0;
    border: 3px double rgba(224, 208, 208, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(241, 232, 232, 0.76);
    position: fixed;
    animation: headeranimation 3s 1;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 0;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
}

ul {
    list-style: none;
    cursor: default;
}

.list1 {
    display: inline-block;
    margin-right: 1px;
}

#alink4 {
    margin-right: 32px;
}

nav a {
    color: black;
    text-decoration: none;
}

.alink {
    color: #ec1c24;
    background-color: rgba(255, 255, 255, 0.479);
    text-decoration: none;
    padding: 1px;
    font-size: 20px;
    border: 4px double rgba(243, 37, 37, 0.76);
    cursor: pointer;
    transition: all 0.2s;
}

.alink:hover {
    border: 4px double #99292d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(197, 96, 96);
    background-image: linear-gradient(to right, rgb(197, 96, 96), rgb(214, 181, 181));
    background-repeat: no-repeat;
    color: white;
}

.alink:focus {
    border: 4px double rgb(99, 167, 99);
    background-color: rgb(116, 197, 96);
    color: rgb(54, 99, 54);
    background-image: linear-gradient(to right, rgb(116, 197, 96), rgb(185, 214, 181));
    background-repeat: no-repeat;
}

#alink1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#alink4 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#logo1 {
    color: #ec1c24;
    cursor: default;
}

#logo2 {
    display: none;
}

footer {
    border: 3px double rgba(224, 208, 208, 0.5);
    color: rgb(51, 43, 43);
    background-color: rgb(221, 200, 200);
    background-image: url(images/background3.2.jpg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 0;
    border-radius: 5px;
    text-shadow: 2px 2px 40px #1d1d1d;
}

#strongtext {
    color: #ec1c24;
}

#linkfirst {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#linklast {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.links {
    text-shadow: 0 0 0;
    color: rgb(51, 43, 43);
    display: block;
    border: 4px double rgba(243, 37, 37, 0.76);
    background-color: rgba(238, 228, 228, 0.76);
    background-repeat: no-repeat;
    margin: 5px;
    transition: 0.2s;
}

.links:hover {
    font-size: 30px;
    color: white;
    background-color: rgb(197, 96, 96);
    background-image: linear-gradient(to right, rgb(197, 96, 96), rgb(214, 181, 181));
    border: 4px double #99292d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.links:focus {
    border: 4px double rgb(99, 167, 99);
    background-color: rgb(116, 197, 96);
    color: rgb(54, 99, 54);
    background-image: linear-gradient(to right, rgb(116, 197, 96), rgb(185, 214, 181));
    background-repeat: no-repeat;
}

div {
    padding-bottom: 20px;
}

.article1 {
    background-image: linear-gradient(to right, rgb(218, 208, 193), rgb(247, 246, 242));
    color: rgb(87, 80, 71);
    padding: 1px 0;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 130px;
    background-repeat: no-repeat;
    border: 4px double rgb(218, 208, 193);
}

.article2 {
    background-image: linear-gradient(to right, rgb(174, 198, 199), rgb(225, 233, 238));
    color: rgb(56, 66, 66);
    background-repeat: no-repeat;
    padding: 1px 0;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 4px double rgb(174, 198, 199);
}

.article3 {
    background-image: linear-gradient(to right, rgb(212, 174, 174), rgb(243, 234, 234));
    color: rgb(78, 57, 57);
    background-repeat: no-repeat;
    border-radius: 5px;
    text-align: left;
    padding: 1px 0;
    margin-bottom: 15px;
    border: 4px double rgb(212, 174, 174);
}

ol {
    margin-left: 14px;
}

.article4 {
    border-radius: 5px;
    padding: 1px 0;
    background-image: linear-gradient(to right, #c9b39a, rgb(243, 242, 234));
    color: #504539;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    border: 4px double #c9b39a;
}

.vidlink {
    display: block;
    text-decoration: none;
    color: #504539;
    text-align: left;
    padding-left: 25px;
    padding-bottom: 4px;
    border-left: 2px solid #968572;
    margin-left: 2px;
    margin-right: 2px;
    transition: all 0.2s;
}

.vidlink:hover {
    background-image: linear-gradient(to right, #968572, #ebdfd1);
    text-decoration: underline;
    background-repeat: no-repeat;
    color: white;
    border-radius: 5px;
    margin: 0 5px;
}

.vidlink:focus {
    background-image: linear-gradient(to right, rgb(116, 197, 96), rgb(185, 214, 181));
    border-radius: 5px;
    border-left: 2px solid rgb(116, 197, 96);
    color: rgb(54, 99, 54);
    margin: 0 5px;
}

#vidlink4 {
    margin-bottom: 23px;
}

.article5 {
    background-image: linear-gradient(to right, #9ac9c9, rgb(234, 243, 243));
    color: #304646;
    border-radius: 5px;
    padding: 1px 0;
    margin-bottom: 15px;
    border: 4px double #9ac9c9;
    background-repeat: no-repeat;
}

.tweetlink {
    display: block;
    color: #304646;
    text-decoration: none;
    text-align: left;
    padding-left: 25px;
    padding-bottom: 4px;
    border-left: 2px solid #789b9b;
    margin-left: 2px;
    margin-right: 2px;
    transition: all 0.2s;
}

.tweetlink:hover {
    background-image: linear-gradient(to right, #789b9b, #d1e2e2);
    text-decoration: underline;
    color: white;
    border-radius: 5px;
    margin: 0 5px;
}

.tweetlink:focus {
    background-image: linear-gradient(to right, rgb(116, 197, 96), rgb(185, 214, 181));
    border-radius: 5px;
    border-left: 2px solid rgb(116, 197, 96);
    color: rgb(54, 99, 54);
    margin: 0 5px;
}

#tweetlink4 {
    margin-bottom: 23px;
}

.article6 {
    color: rgb(57, 73, 85);
    background-color: rgb(248, 245, 245);
    background-image: linear-gradient(to right, rgb(175, 203, 226), rgb(234, 238, 241));
    background-repeat: no-repeat;
    border-top: 4px double rgb(175, 203, 226);
    padding: 1px 0;
    margin-bottom: 15px;
    text-align: left;
}

h2 {
    text-align: left;
    padding-left: 25px;
}

p {
    text-align: left;
    padding-left: 25px;
}

li {
    text-align: left;
}

details {
    color: rgb(57, 73, 85);
    background-image: linear-gradient(to right, rgb(175, 203, 226), rgb(234, 238, 241));
    background-repeat: no-repeat;
    border: 4px double rgb(175, 203, 226);
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: normal;
}

summary {
    text-align: left;
    padding-left: 25px;
    padding-bottom: 19px;
    padding-top: 15px;
}

em {
    padding-left: 25px;
}

@keyframes headeranimation {
    0% {border-radius: 5px;}
    50% {border-radius: 10px;}
    100% {border-radius: 5px;}
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #1d1d1d;
        color: white;
    }

    nav {
        border: 3px double rgba(82, 67, 67, 0.5);
        background-color: rgba(49, 41, 41, 0.76);
    }

    .article1 {
        color: rgb(218, 208, 193);
        background-image: linear-gradient(to right, rgb(87, 80, 71), rgb(36, 36, 32));
        border: 4px double rgb(87, 80, 71);
    }

    .article2 {
        color: rgb(174, 198, 199);
        background-image: linear-gradient(to right, rgb(56, 66, 66), rgb(35, 38, 41));
        border: 4px double rgb(56, 66, 66);
    }

    .article3 {
        color: rgb(212, 174, 174);
        background-image: linear-gradient(to right, rgb(78, 57, 57), rgb(36, 30, 30));
        border: 4px double rgb(78, 57, 57);
    }

    .article4 {
        color: #c9b39a;
        background-image: linear-gradient(to right, #504539, rgb(39, 39, 34));
        border: 4px double #504539;
    }

    .vidlink {
        color: #c9b39a;
    }

    .vidlink:hover {
        background-image: linear-gradient(to right, #968572, #534a40);
        color: black;
    }

    .vidlink:focus {
        color: rgb(160, 212, 160);
        border-left: 2px solid rgb(99, 161, 84);
        background-image: linear-gradient(to right, rgb(99, 161, 84), rgb(64, 83, 61));
    }

    .article5 {
        color: #9ac9c9;
        background-image: linear-gradient(to right, #304646, rgb(35, 41, 41));
        border: 4px double #304646;
    }

    .tweetlink {
        color: #9ac9c9;
    }

    .tweetlink:hover {
        background-image: linear-gradient(to right, #789b9b, #384646);
        color: black;
    }

    .tweetlink:focus {
        color: rgb(160, 212, 160);
        border-left: 2px solid rgb(99, 161, 84);
        background-image: linear-gradient(to right, rgb(99, 161, 84), rgb(64, 83, 61));
    }

    .article6 {
        background-image: linear-gradient(to right, rgb(57, 73, 85), rgb(42, 47, 51));
        color: rgb(175, 203, 226);
        background-color: #1d1d1d;
        border-top: 4px double rgb(57, 73, 85);
    }

    details {
        background-image: linear-gradient(to right, rgb(57, 73, 85), rgb(42, 47, 51));
        border: 4px double rgb(57, 73, 85);
        color: rgb(175, 203, 226);
    }

    .links {
        color: rgb(238, 226, 226);
        background-color: rgba(49, 41, 41, 0.76);
        border: 4px double rgba(240, 69, 69, 0.76);
    }

    .links:hover {
        border: 4px double #d17373;
        background-color: rgb(153, 76, 76);
        background-image: linear-gradient(to right, rgb(153, 76, 76), rgb(88, 61, 61));
        color: black;
    }

    .links:focus {
        color: rgb(160, 212, 160);
        background-color: rgb(99, 161, 84);
        background-image: linear-gradient(to right, rgb(99, 161, 84), rgb(64, 83, 61));
    }

    footer {
        border: 3px double rgba(82, 67, 67, 0.5);
        color: rgb(238, 226, 226);
        background-color: rgb(83, 59, 59);
        background-image: url(images/background3.jpg);
    }

    .alink {
        border: 4px double rgba(240, 69, 69, 0.76);
        background-color: rgba(43, 36, 36, 0.479);
    }

    .alink:hover {
        border: 4px double #d17373;
        background-color: rgb(153, 76, 76);
        background-image: linear-gradient(to right, rgb(153, 76, 76), rgb(88, 61, 61));
        color: black;
    }

    .alink:focus {
        color: rgb(160, 212, 160);
        background-color: rgb(99, 161, 84);
        background-image: linear-gradient(to right, rgb(99, 161, 84), rgb(64, 83, 61));
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(179, 114, 114);
        background-image: linear-gradient(to bottom, rgb(179, 114, 114), rgb(104, 69, 69));
    }

    ::-webkit-scrollbar-thumb:hover {
        background-image: linear-gradient(to bottom, rgb(146, 94, 94), rgb(71, 47, 47));
    }

    ::-webkit-scrollbar-track {
        background-color: rgb(51, 41, 41);
        border: 3px double rgb(95, 89, 89);
        border-radius: 3px;
        }
    
    html {
        scrollbar-color: rgb(83, 59, 59) rgb(39, 36, 36);
    }
}

@media (max-width: 506px) {
    #logo1 {
        display: none;
    }

    #logo2 {
        display: inline;
        color: #ec1c24;
    }

    .alink {
        font-size: 17px;
    }
}

@media (max-width: 366px) {
    .alink {
        font-size: 15px;
    }
}

@media (max-width: 344px) {
    .alink {
        font-size: 13px;
    }
}

@media (max-width: 324px) {
    .alink {
        font-size: 11px;
    }
}

@media (max-width: 304px) {
    .alink {
        font-size: 9px;
    }
}