* {
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
   
::-webkit-scrollbar-track {
    background-color: #f3f3f3;
    border-left: 2px solid rgba(231, 231, 231, 0.5);
}

::-webkit-scrollbar-track:hover {
    background-color: #eeeeee;
}
   
::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    border-left: 2px solid rgba(231, 231, 231, 0.5);
}
   
::-webkit-scrollbar-thumb:hover {
    background-color:#d8d8d8;
}

html {
    scrollbar-color: rgb(216, 216, 216) rgb(243, 243, 243);
    scrollbar-width: 10px;
    scroll-behavior: smooth;
    background-color: #ffffff;
    background-image: url(images/abg2.png);
    animation: startupa 1s 1;
}

nav {
    border-bottom: 2px solid rgba(231, 231, 231, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1fa;
    box-shadow: 0 4px 8px 0 rgba(118, 118, 118, 0.26);
    position: fixed;
    top: 0;
    padding: 5px;
}

ul {
    list-style: none;
    cursor: default;
}

.list1 {
    display: inline;
}

#alink1 {
    margin-left: 10px;
}

#alink4 {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
}

a {
    border-radius: 3px;
    color: rgb(36, 36, 36);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.1s;
    border-bottom: 2px solid rgba(18, 18, 18, 0);
}

a:hover {
    background-color: #e3e3e3c2;
    border-bottom: 2px solid #dcdcdcc2;
    color: black;
}

a:focus {
    background-color: #dbe4dac2;
    border-bottom: 2px solid #c7d3c7c2;
}

.alink {
    padding: 5px;
}

#logo1 {
    color: #ec1c24;
    text-align: center;
    cursor: default;
    padding-right: 21px;
    font-size: 31px;
    text-shadow: 2px 2px 35px #c9161c;
}

#logo2 {
    font-size: 31px;
    padding-right: 21px;
    display: none;
}

footer {
    border-top: 2px solid rgba(231, 231, 231, 0.5);
    box-shadow: 0 -4px 8px 0 rgba(118, 118, 118, 0.26);
    background-color: #f3f3f3;
    background-image: url(images/background.jpg);
    color: rgb(36, 36, 36);
    animation: startupa 1s 1;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 14px;
    cursor: default;
}

.links {
    padding: 5px;
}

div {
    font-size: 28px;
    padding-top: 4px;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(231, 231, 231, 0.5);
    background-color: #edededa0;
    margin-bottom: 12px;
}

.strongtext {
    color: #ec1c24;
    font-size: 29px;
    font-weight: initial;
    text-shadow: 2px 2px 25px #c9161c;
}

article {
    background-color: #edededa0;
    color: rgb(36, 36, 36);
    border-bottom: 2px solid rgba(231, 231, 231, 0.5);
    margin-bottom: 10px;
    margin-top: 53px;
    cursor: default;
    padding-top: 7px;
    padding-bottom: 8px;
}

h1 {
    font-weight: initial;
    color: black;
    font-size: 27px;
}

p {
    font-size: 25px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

#maintxt {
    margin-top: 10px;
    font-weight: initial;
    color: rgb(36, 36, 36);
}

#backbtn {
    font-size: 23px;
    padding: 5px;
    text-decoration: underline;
    text-align: center;
}

#addtxt {
    margin-top: 5px;
}

@keyframes startupa {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #121212;
        color: rgb(236, 236, 236);
        background-image: url(images/abg2dark.png);
        scrollbar-color: rgb(46, 46, 46) rgb(31, 31, 31);
    }

    nav {
        border-bottom: 2px solid rgba(46, 46, 46, 0.5);
        background-color: #222222fa;
        box-shadow: 0 4px 8px 0 rgba(90, 90, 90, 0.26);
    }

    article {
        background-color: #242424a0;
        border-bottom: 2px solid rgba(46, 46, 46, 0.5);
    }

    h1 {
        color: white;
    }

    #maintxt {
        color: rgb(236, 236, 236);
    }

    a {
        color: rgb(236, 236, 236);
    }

    a:hover {
        background-color: #363636c2;
        border-bottom: 2px solid #3f3f3fc2;
        color: white;
    }

    a:focus {
        background-color: #3d453bc2;
        border-bottom: 2px solid #3e4a40c2;
    }

    footer {
        border-top: 2px solid rgba(46, 46, 46, 0.5);
        background-color: #222222fa;
        background-image: url(images/backgrounddark.jpg);
        color: rgb(236, 236, 236);
        box-shadow: 0 -4px 8px 0 rgba(90, 90, 90, 0.26);
    }

    div {
        border-bottom: 2px solid rgb(46, 46, 46, 0.5);
        background-color: #242424a0;
    }

    ::-webkit-scrollbar-thumb {
        background-color:#2e2e2e;
        border-left: 2px solid rgba(46, 46, 46, 0.5);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color:#383838;
    }

    ::-webkit-scrollbar-track {
        background-color: #1f1f1f;
        border-left: 2px solid rgba(46, 46, 46, 0.5);
    }

    ::-webkit-scrollbar-track:hover {
        background-color: #252525;
    }
}

@media (max-width: 506px) {
    article {
        margin-top: 48px;
    }
}

@media (max-width: 393px) {
    #logo1 {
        display: none;
    }

    #logo2 {
        display: inline;
        color: #ec1c24;
        text-shadow: 2px 2px 35px #c9161c;
    }
}